extends ../layout

block content

    .container-fluid
        form(id="myform" name="myform").col-xlg-12.col-lg-12.col-md-12.col-sm-12.col-xs-12
            h4.mb-3.fw-normal= locals.title
            .row
                .col.ms-3
                    .form-floating.mt-2.ps-2.col-xlg-3.col-lg-4.col-md-5.col-sm-6.col-xs-6
                        select(id="type_select").form-select  
                            option(value="Choose Report Source Type" selected)= "Choose Report Source Type" 
                            br
                            each val, index in locals.types
                                option(value=val.items.menuname)= val.items.menuname
                                br  
                        label(for="type_select").form-label Type: 
            .row
                .col.ms-3
                    .form-floating.mt-2.ps-2.col-xlg-6.col-lg-8.col-md-10.col-sm-12.col-xs-12
                        input(type="text" name="classname" id="classname" placeholder="classname" aria-label="classname" value=`${(locals.existingSpec) ? locals.existingSpec.classname : locals.specDefaultValues.classname }` readonly required).form-control.bg-info.fst-italic 
                        label(for="classname") Class Name
                        //- Hidden field 'existingSpec' is used to store the initial values for a new PostgreSQL Report Source
                        input(type="hidden" id="existingSpec" value=`${(locals.existingSpec)?JSON.stringify(locals.existingSpec):"null"}`).form-control
                        //- Hidden field which holds the page operation mode ("new" for starting from scratch, "copy" from an existing persisted specification, 
                        //- "clone" from an transient specification in a UI page)
                        input(type="hidden" id="pageMode" value=`${locals.pageMode}`).form-control
                        //- Hidden field 'copyUrl' is used to store the initial value passed during pug view rendering
                        //- with the copy URL for posting the data for updating the edited specification object
                        input(type="hidden" id="copyURL" value=`${locals.copyURL}`).form-control
                        //- Hidden field 'cloneUrl' is used to store the initial value passed during pug view rendering
                        //- with the clone URL for posting the data for updating the edited specification object
                        input(type="hidden" id="cloneURL" value=`${locals.cloneURL}`).form-control
                        //- Hidden field 'types' is used to store the list of Report Source types available which is passed 
                        //- during pug view rendering for populating the data list control
                        input(type="hidden" id="types" value=`${JSON.stringify(locals.types)}`).form-control
            .row
                .col.ms-3 
                    .form-floating.mt-2.ps-2.col-xlg-6.col-lg-8.col-md-10.col-sm-12.col-xs-12
                        input(type="text" name="driver" id="driver" placeholder="driver" title="Driver for report source" aria-label="driver" style=`display: ${(locals.existingSpec.driver) ? "block" : "none"}` value=`${(locals.existingSpec) ? ((locals.existingSpec.driver) ? locals.existingSpec.driver : "" ): locals.specDefaultValues.driver }` readonly required).form-control.bg-info.fst-italic 
                        label(for="driver") Driver
            .row
                .col.ms-3
                    .form-floating.mt-2.ps-2.col-xlg-6.col-lg-8.col-md-10.col-sm-12.col-xs-12
                        input(type="text" id="name" placeholder="name" title=`${specEntity} name (is also used as filename)` aria-label="name" value=`${(locals.existingSpec) ? locals.existingSpec.name :  locals.specDefaultValues.name }` required).form-control 
                        label(for="name") Name
                        //- Hidden field 'baseUrl' is used to store the initial value passed during pug view rendering
                        //- with the base URL for posting the data for the new specification object
                        input(type="hidden" id="baseUrl" value=`${locals.postBaseUrl}`).form-control

            - var classValue = ((locals.existingSpec) ? locals.existingSpec.classname : locals.specDefaultValues.classname);
            if (classValue == locals.types[0].items.specDefaultValues.classname)
                //- PostgreSQL
                .row
                    .col.ms-3
                        .form-floating.mt-2.ps-2.col-xlg-2.col-lg-4.col-md-5.col-sm-7.col-xs-9
                            input(type="text" name="hostname" id="hostname" placeholder="hostname" title="Name/IP of server hosting the report source" aria-label="hostname" value=`${(locals.existingSpec) ? locals.existingSpec.hostname :  locals.specDefaultValues.hostname }` required).form-control 
                            label(for="hostname") Host Name
                .row
                    .col.ms-3
                        .form-floating.mt-2.ps-2.col-xlg-2.col-lg-4.col-md-5.col-sm-7.col-xs-9
                            input(type="text" name="althostname" id="althostname" placeholder="althostname" title="Name/IP of server hosting an alternative report source" aria-label="althostname" value=`${(locals.existingSpec) ? locals.existingSpec.althostname :  locals.specDefaultValues.althostname }` required).form-control 
                            label(for="althostname") Alternate Host Name
                .row
                    .col.ms-3
                        .form-floating.mt-2.ps-2.col-xlg-2.col-lg-4.col-md-5.col-sm-7.col-xs-9
                            input(type="number" name="port" id="port" placeholder="port" title="Listening port of report source" aria-label="port" value=`${(locals.existingSpec) ? locals.existingSpec.port :  locals.specDefaultValues.port}` required).form-control
                            label(for="ram") Port
            else
                //- H2 Embedded
                .row
                    .col.ms-3 
                        .form-floating.mt-2.ps-2.col-xlg-2.col-lg-4.col-md-5.col-sm-7.col-xs-9
                            input(type="text" name="relativeBaseDir" id="relativeBaseDir" placeholder="relativeBaseDir" title="Relative base directory for report source" aria-label="driver" value=`${(locals.existingSpec) ? locals.existingSpec.relativeBaseDir : locals.specDefaultValues.relativeBaseDir }` required).form-control 
                            label(for="relativeBaseDir") Relative Base Dir


            .row
                .col.ms-3 
                    .form-floating.mt-2.ps-2.col-xlg-4.col-lg-4.col-md-4.col-sm-7.col-xs-9
                        input(type="text" name="database" id="database" placeholder="database" title="Database name of the report source" aria-label="database" value=`${(locals.existingSpec) ? locals.existingSpec.database :  locals.specDefaultValues.database }` required).form-control 
                        label(for="hostname") Database Name
            .row
                .col.ms-3
                    .form-floating.mt-2.ps-2.col-xlg-4.col-lg-4.col-md-4.col-sm-7.col-xs-9
                        input(type="text" name="user" id="user" placeholder="user" title="User name for accessing the report source database" aria-label="user" value=`${(locals.existingSpec) ? locals.existingSpec.user :  locals.specDefaultValues.user }` required).form-control 
                        label(for="hostname") User Name
            .row
                .col.ms-3
                    .form-floating.mt-2.ps-2.col-xlg-4.col-lg-4.col-md-4.col-sm-7.col-xs-9
                        input(type="password" name="password" id="password" placeholder="password" title="User password for accessing the report source database" aria-label="password" value=`${(locals.existingSpec) ? locals.existingSpec.password :  locals.specDefaultValues.password }` required).form-control 
                        label(for="hostname") User Password


            .row.mt-2.mb-2.justify-content-center
                .col-2
                    button(type="submit" id="btnAdd" value="add").btn.btn-primary Add

        script. 
            //- Get form object through DOM
            var myform = document.getElementById("myform");
            //- register listener function for the form submit event
            myform.addEventListener("submit", submitForm);

            //- Get drop down object for Type selection through DOM
            const selectTypeDropdown = document.getElementById('type_select');
            //- alert("Dropdown's event target is " + selectTypeDropdown.name);
            //- register listener function for the drop down object change event
            selectTypeDropdown.addEventListener("change", selectType);
            //- Set the selected value by looking at the ...
            const types = JSON.parse(document.getElementById('types').value);
            //- Deserialize the value of the 'existingSpec' input HTML element into an object
            var existingSpec = JSON.parse(document.getElementById("existingSpec").value);
            //- Make sure the select element shows the correct type
            var classValue = ((existingSpec) ? existingSpec.classname : specDefaultValues.classname);
            var index = -1;
            for (i=0; i< types.length; i++){
                if (classValue == types[i].items.specDefaultValues.classname) {
                    index = i+1;
                    break;
                };
            };
            if (index != -1) {
                selectTypeDropdown.selectedIndex = index;
            }
            //- selectTypeDropdownSelectedIndex holds the latest valid index of the select DOM element
            var selectTypeDropdownSelectedIndex = selectTypeDropdown.selectedIndex;
            //- alert("After initial form load selectTypeDropdown.selectedIndex = " + selectTypeDropdownSelectedIndex);

            //- ==============================================================
            //- Update the 'existingSpec' element from DOM and its serialized
            //- alter-ego in the DOM
            //- ==============================================================
            function updateExistingSpecFromDOM() {
                //- Start collecting all form data. This basically means updating the 
                //- 'existingSpec' input HTML element, which is the serialized version of 
                //- the locals.existingSpec. NOTE: the main 'name' and SDSs' 'name' properties
                //- have to be dealt a bit differently (spaces removed) because they are used as 
                //- DOM element IDs and as filename for the new/modified JSON specification file. 
                //- 1. Deserialize the value of the 'existingSpec' input HTML element into an object
                var existingSpec = JSON.parse(document.getElementById("existingSpec").value);
                //- 2. Update existingSpec main fields from DOM
                //-    'classname' and 'driver' can be modified, therefore there is need to update them
                existingSpec.name = document.getElementById("name").value.replace(/\s+/g, "");
                //- 4. Serialize the updated existingSpec back to the 'existingSpec' input HTML element
                document.getElementById("existingSpec").value = JSON.stringify(existingSpec);
            }

            //- the Type drop down box change function
            //- ====================================
            async function selectType() {
                //- get the DOM element for type select
                const selectTypeDropdown = document.getElementById('type_select');
                //- alert("Selected index is " + selectTypeDropdown.selectedIndex);
                //- alert("selectTypeDropdownSelectedIndex = " + selectTypeDropdownSelectedIndex);
                if (selectTypeDropdown.selectedIndex === 0) {
                    //- exclude the choice at pos 0 because it is simply used as a label
                    //- alert("Cannot allow position 0 because it does not reflect a real value but it is a simple label");
                    selectTypeDropdown.selectedIndex = selectTypeDropdownSelectedIndex;
                } else {
                    //- allow every other choice and store it in the selectTypeDropdownSelectedIndex
                    selectTypeDropdownSelectedIndex = selectTypeDropdown.selectedIndex;
                    //- const selectValue = selectTypeDropdown.value;
                    //- alert("Dropdown's new value is " + selectValue);

                    //- Get pageMode through DOM
                    const pageMode = document.getElementById("pageMode").value;
                    //- Update the 'existingSpec' element from DOM and its serialized
                    //- alter-ego in the DOM            
                    updateExistingSpecFromDOM();

                };
            };

            //- the form submit function
            //- ========================
            async function submitForm(e) {
                //- cancel the event's default action if it is cancelable
                if (e.cancelable) {
                    e.preventDefault();
                    //- alert("Event is cancelable and it's default action has been canceled.");
                    //- alert("The element that triggered the event is " + e.currentTarget);
                }

                //- var myform = document.getElementById("myform");
                var myform = e.currentTarget 
                var submitter = document.querySelector("button[value=add]");
                var formData = new FormData(myform, submitter);
                //- get form data as a JSON object
                var formDataJSON = Object.fromEntries(formData);
                var jsonFormData = JSON.stringify(formDataJSON);
                const ResponseParagraph = document.getElementById("responseparagraph");

                //- the URL for adding a new specification object is assumed to be
                //- in the form locals.postBaseUrl + "/" + name
                const postURL =
                    myform.elements["baseUrl"].value +
                    "/" +
                    myform.elements["name"].value;
                try {
                    const response = await fetch(postURL, {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },                    
                        body: jsonFormData,
                    });
                    const result = await response.json();
                    const output = JSON.stringify({
                        returnStatus: response.status,
                        returnMessage: result,
                    },null,2);

                    if (response.status > 400) {
                        ResponseParagraph.value = output;
                    } else {
                        ResponseParagraph.value = output;
                    }
                } catch (error) {
                    ResponseParagraph.value = error.message;
                }
            };            