extends ../layout

block content

    .container-fluid
        form(id="myform" name="myform").col-xlg-12.col-lg-12.col-md-12.col-sm-12.col-xs-12
            h4.mb-3.fw-normal= locals.title
            .row
                .col-xlg-12.col-lg-11.col-md-11.col-sm-11.col-xs-11.ms-3
                    .form-floating.mt-2.ps-2.col-xlg-8.col-lg-10.col-md-12.col-sm-12.col-xs-12
                        input(type="text" name="classname" id="classname" placeholder="classname" aria-label="classname" value=`${(locals.existingSpec) ? locals.existingSpec.classname : "gr.uoa.di.rdf.geordfbench.runtime.hosts.impl.SimpleHost"}` readonly required).form-control 
                        label(for="classname") Class Name
                    .form-floating.mt-2.ps-2.col-xlg-6.col-lg-7.col-md-11.col-sm-12.col-xs-12
                        input(type="text" name="name" id="name" placeholder="name" aria-label="name" value=`${(locals.existingSpec) ? locals.existingSpec.name :  "JSON spec file name"}` required).form-control 
                        label(for="name") Name
                        //- Hidden field 'baseUrl' is used to store the initial value passed during pug view rendering
                        //- with the base URL for posting the data for the new specification object
                        input(type="hidden" id="baseUrl" name="baseUrl" value=`${locals.postBaseUrl}`).form-control
                        //- Hidden field 'oses' is used to store the list of OSs passed during pug view rendering
                        //- for populating the data list control
                        input(type="hidden" id="oses" name="oses" value=`${locals.oses}`).form-control
                    .form-floating.mt-2.ps-2.col-xlg-2.col-lg-3.col-md-5.col-sm-7.col-xs-9
                        input(type="text" name="ipAddr" id="ipAddr" placeholder="ipAddr" aria-label="ipAddr" value=`${(locals.existingSpec) ? locals.existingSpec.ipAddr :  "127.0.0.1"}` required).form-control 
                        label(for="ipAddr") IP Address
                    .form-floating.mt-2.ps-2.col-xlg-1.col-lg-1.col-md-2.col-sm-2.col-xs-3
                        input(type="number" name="ram" id="ram" placeholder="ram" aria-label="ram" value=`${(locals.existingSpec) ? locals.existingSpec.ram :  "8"}` min="8" max="128" required).form-control
                        label(for="ram") RAM
                    .form-floating.mt-2.ps-2.col-xlg-2.col-lg-3.col-md-5.col-sm-7.col-xs-9
                        select(id="os_select" name="os_select").form-select  
                            option(value="Choose Os" selected)= "Choose Os"
                            br
                            each os in locals.oses
                                option(value=os)= os 
                                br  
                        label(for="os_select").form-label OS: 
                    .mt-3.ps-3.bg-light.rounded-1.col-xlg-8.col-lg-10.col-md-12.col-sm-12.col-xs-12
                        .form-floating.mt-2.pt-2.col-xlg-8.col-lg-11.col-md-12.col-sm-12.col-xs-12.form-control-sm
                            input(type="text" name="os_classname" id="os_classname" placeholder="os_classname" aria-label="os_classname" value=`${(locals.existingSpec) ? locals.existingSpec.os.classname : ""}` readonly required).form-control.fst-italic
                            label(for="os_classname") Classname
                        .form-floating.mt-2.col-xlg-8.col-lg-11.col-md-12.col-sm-12.col-xs-12.form-control-sm
                            input(type="text" name="os_name" id="os_name" placeholder="os_name" aria-label="os_name" value=`${(locals.existingSpec) ? locals.existingSpec.os.name : ""}` readonly required).form-control.fst-italic
                            label(for="os_name") Name
                        .form-floating.mt-2.col-xlg-8.col-lg-11.col-md-12.col-sm-12.col-xs-12.form-control-sm
                            input(type="text" name="os_shell_cmd" id="os_shell_cmd" placeholder="os_shell_cmd" aria-label="os_shell_cmd" value=`${(locals.existingSpec) ? locals.existingSpec.os.shell_cmd : ""}` readonly required).form-control.fst-italic
                            label(for="os_shell_cmd") Shell Cmd
                        .form-floating.mt-2.col-xlg-8.col-lg-11.col-md-12.col-sm-12.col-xs-12.form-control-sm
                            input(type="text" name="os_sync_cmd" id="os_sync_cmd" placeholder="os_sync_cmd" aria-label="os_sync_cmd" value=`${(locals.existingSpec) ? locals.existingSpec.os.sync_cmd : ""}` readonly required).form-control.fst-italic
                            label(for="os_sync_cmd") Sync Cmd
                        .form-floating.mt-2.mb-2.pb-2.col-xlg-8.col-lg-11.col-md-12.col-sm-12.col-xs-12.form-control-sm
                            input(type="text" name="os_clearcache_cmd" id="os_clearcache_cmd" placeholder="os_clearcache_cmd" aria-label="os_clearcache_cmd" value=`${(locals.existingSpec) ? locals.existingSpec.os.clearcache_cmd : ""}` readonly required).form-control.fst-italic
                            label(for="os_clearcache_cmd") Clear Cache Cmd

                    .form-floating.mt-2.col-xlg-8.col-lg-10.col-md-12.col-sm-12.col-xs-12
                        input(type="text" name="sourceFileDir" id="sourceFileDir" placeholder="sourceFileDir" aria-label="sourceFileDir" value=`${(locals.existingSpec) ? locals.existingSpec.sourceFileDir : ""}` required).form-control 
                        label(for="sourceFileDir") Source File Dir
                    .form-floating.mt-2.col-xlg-8.col-lg-10.col-md-12.col-sm-12.col-xs-12
                        input(type="text" name="reposBaseDir" id="reposBaseDir" placeholder="reposBaseDir" aria-label="reposBaseDir" value=`${(locals.existingSpec) ? locals.existingSpec.reposBaseDir : ""}` required).form-control 
                        label(for="reposBaseDir") Repos Base Dir
                    .form-floating.mt-2.mb-2.col-xlg-8.col-lg-10.col-md-12.col-sm-12.col-xs-12
                        input(type="text" name="reportsBaseDir" id="reportsBaseDir" placeholder="reportsBaseDir" aria-label="reportsBaseDir" value=`${(locals.existingSpec) ? locals.existingSpec.reportsBaseDir : ""}` required).form-control 
                        label(for="reportsBaseDir") Reports Base Dir                                                
            .row.mt-2.mb-2.justify-content-center
                .col-2
                    button(type="submit" name="btnAdd" value="add").btn.btn-primary Add

        script. 
            //- Get form object through DOM
            var myform = document.getElementById("myform");
            //- register listener function for the form submit event
            myform.addEventListener("submit", submitForm);

            //- alert("Oses retrieved are: " +  myform.elements["oses"].value);
            //- Get drop down object for OS selection through DOM
            const selectOSDropdown = document.getElementById('os_select');
            //- alert("Dropdown's event target is " + selectOSDropdown.name);
            //- register listener function for the drop down object change event
            selectOSDropdown.addEventListener("change", selectOs);

            //- the OS drop down box change function
            //- ====================================
            async function selectOs() {
                const selectOSDropdown = document.getElementById('os_select');
                //- alert("Selected index is " + selectOSDropdown.selectedIndex);
                const selectValue = selectOSDropdown.value;
                //- alert("Dropdown's new value is " + selectValue);

                if (selectOSDropdown.selectedIndex === 0) {
                    document.getElementById("os_classname").value = "";
                    document.getElementById("os_name").value = "";
                    document.getElementById("os_shell_cmd").value = "";
                    document.getElementById("os_sync_cmd").value = "";
                    document.getElementById("os_clearcache_cmd").value = "";
                } else {
                    //- the URL for querying the existing Oses specification objects in the library
                    //- in the form locals.postBaseUrl + "/" + name
                    const postURL =
                        myform.elements["baseUrl"].value +
                        "/../oses/" +
                        selectValue;
                    const ResponseParagraph = document.getElementById("responseparagraph");
                    //- fetch selected Os data in subform
                    try {
                        const response = await fetch(postURL, {
                            method: "GET",
                            headers: {
                                "Content-Type": "application/json",
                            },
                        });
                        const result = await response.json();
                        //- alert("Result = " + JSON.stringify(result));
                        document.getElementById("os_classname").value = result.classname;
                        document.getElementById("os_name").value = result.name;
                        document.getElementById("os_shell_cmd").value = result.shell_cmd;
                        document.getElementById("os_sync_cmd").value = result.sync_cmd;
                        document.getElementById("os_clearcache_cmd").value = result.clearcache_cmd;
                    } catch(error) {
                        console.error(error.message);
                        ResponseParagraph.innerHTML = output;
                    };
                    ResponseParagraph.innerHTML = ResponseParagraph.innerHTML + "<br>" + "Dropdown's new value is " + selectValue;
                }
            };

            //- the form submit function
            //- ========================
            async function submitForm(e) {
                //- cancel the event's default action if it is cancelable
                if (e.cancelable) {
                    e.preventDefault();
                    //- alert("Event is cancelable and it's default action has been canceled.");
                    //- alert("The element that triggered the event is " + e.currentTarget);
                }

                //- var myform = document.getElementById("myform");
                var myform = e.currentTarget 
                var submitter = document.querySelector("button[value=add]");
                var formData = new FormData(myform, submitter);
                //- get form data as a JSON object
                var formDataJSON = Object.fromEntries(formData);
                var jsonFormData = JSON.stringify(formDataJSON);
                const ResponseParagraph = document.getElementById("responseparagraph");
                //- Create a non-flat version of the Host specification object
                //-  where Os is a sub-element
                var jsonData = {
                    classname: formDataJSON.classname,
                    name: formDataJSON.name,
                    ipAddr: formDataJSON.ipAddr,
                    //- convert RAM from string to number
                    ram: parseInt(formDataJSON.ram),
                    os: {
                        classname: formDataJSON.os_classname,
                        name: formDataJSON.os_name,
                        shell_cmd: formDataJSON.os_shell_cmd,
                        sync_cmd: formDataJSON.os_sync_cmd,
                        clearcache_cmd: formDataJSON.os_clearcache_cmd,
                    },
                    sourceFileDir: formDataJSON.sourceFileDir,
                    reposBaseDir: formDataJSON.reposBaseDir,
                    reportsBaseDir: formDataJSON.reportsBaseDir,
                };

                //- the URL for adding a new specification object is assumed to be
                //- in the form locals.postBaseUrl + "/" + name
                const postURL =
                    myform.elements["baseUrl"].value +
                    "/" +
                    myform.elements["name"].value;
                try {
                    const response = await fetch(postURL, {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },                    
                        body: JSON.stringify(jsonData),
                    });
                    const result = await response.json();
                    const output = JSON.stringify({
                        returnStatus: response.status,
                        returnMessage: result,
                    },null,2);

                    if (response.status > 400) {
                        ResponseParagraph.innerHTML = output;
                    } else {
                        ResponseParagraph.innerHTML = output;
                    }
                } catch (error) {
                    console.error(error.message);
                    ResponseParagraph.innerHTML = output;
                }
            };            