doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= locals.title || 'Please pass a title property'

    style 
      include ./assets/css/bootstrap.min.css
    script  
      include ./assets/js/color-modes.js
      include ./assets/js/bootstrap.bundle.min.js
  body
    block menu
      .header.p-3.text-bg-dark
        //- The navigation bar
        navbar.navbar-expand-lg.navbar-dark.bg-dark
          .container-fluid
            div(class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08")
              img.rounded.me-1(src=`${locals.endpointConfig.ACCESS_UI_URL}/static/geordfbench_image_favicon.png` alt="" width="50" height="50")
              ul(class="navbar-nav")
                //- .px-2 spaces menus horizontally
                //- Link to JSON Specification Library Endpoint (which is actually serving the data)
                li(class="nav-item dropdown").px-2
                  a(class="nav-link dropdown-toggle show" data-bs-toggle="dropdown" aria-expanded="true" target="_blank") JSON Specification Library Endpoint
                  ul(class="dropdown-menu" data-bs-popper="static")
                    li
                      a(class="dropdown-item" href=`${locals.endpointConfig.ACCESS_ENDPOINT_URL}/` target="_blank") Status
                    li
                      a(class="dropdown-item" href=`${locals.endpointConfig.ACCESS_ENDPOINT_URL}/api-docs/` target="_blank") OpenAPI (Swagger)
                //- Link to JSON Specification UI Endpoint (the endpoint serving UI pages to users for easily manipulating JSON spec data)
                li(class="nav-item dropdown").px-2
                  a(class="nav-link dropdown-toggle show" data-bs-toggle="dropdown" aria-expanded="true" target="_blank") JSON Specification UI Endpoint
                  ul(class="dropdown-menu" data-bs-popper="static")
                    li
                      a(class="dropdown-item" href=`${locals.endpointConfig.ACCESS_UI_URL}/` target="_blank") Status
                //- Categories menu 
                li(class="nav-item dropdown").px-2
                  a(class="nav-link dropdown-toggle show" href="#" data-bs-toggle="dropdown" aria-expanded="true") Categories
                  ul(class="dropdown-menu" data-bs-popper="static")
                    li
                      a(class="dropdown-item" href=`${locals.endpointConfig.ACCESS_UI_URL}/categories` target="_blank") List
                //- Report specs menu      
                li(class="nav-item dropdown").px-2
                  a(class="nav-link dropdown-toggle show" href="#" data-bs-toggle="dropdown" aria-expanded="true") Report Specs
                  ul(class="dropdown-menu" data-bs-popper="static")
                    li
                      a(class="dropdown-item" href=`${locals.endpointConfig.ACCESS_UI_URL}/reportspecs` target="_blank") List
                    li
                      a(class="dropdown-item" href=`${locals.endpointConfig.ACCESS_UI_URL}/reportspecs/new` target="_blank") New
                //- Host spec menu      
                li(class="nav-item dropdown").px-2
                  a(class="nav-link dropdown-toggle show" href="#" data-bs-toggle="dropdown" aria-expanded="true") Hosts
                  ul(class="dropdown-menu" data-bs-popper="static")
                    li
                      a(class="dropdown-item" href=`${locals.endpointConfig.ACCESS_UI_URL}/hosts` target="_blank") List
                    li
                      a(class="dropdown-item" href=`${locals.endpointConfig.ACCESS_UI_URL}/hosts/new` target="_blank") New
                //- Execution spec menu      
                li(class="nav-item dropdown").px-2
                  a(class="nav-link dropdown-toggle show" href="#" data-bs-toggle="dropdown" aria-expanded="true") Executions
                  ul(class="dropdown-menu" data-bs-popper="static")
                    li
                      a(class="dropdown-item" href=`${locals.endpointConfig.ACCESS_UI_URL}/executionspecs` target="_blank") List
                    li
                      a(class="dropdown-item" href=`${locals.endpointConfig.ACCESS_UI_URL}/executionspecs/new` target="_blank") New
                //- Dataset spec menu      
                li(class="nav-item dropdown").px-2
                  a(class="nav-link dropdown-toggle show" href="#" data-bs-toggle="dropdown" aria-expanded="true") Datasets
                  ul(class="dropdown-menu" data-bs-popper="static")
                    li
                      a(class="dropdown-item" href=`${locals.endpointConfig.ACCESS_UI_URL}/datasets` target="_blank") List
                    li
                      a(class="dropdown-item" href=`${locals.endpointConfig.ACCESS_UI_URL}/datasets/new` target="_blank") New
                //- Report source spec menu      
                li(class="nav-item dropdown").px-2
                  a(class="nav-link dropdown-toggle show" href="#" data-bs-toggle="dropdown" aria-expanded="true") Report Sources
                  ul(class="dropdown-menu" data-bs-popper="static")
                    li
                      a(class="dropdown-item" href=`${locals.endpointConfig.ACCESS_UI_URL}/reportsources` target="_blank") List
                    li
                      a(class="dropdown-item" href=`${locals.endpointConfig.ACCESS_UI_URL}/reportsources/new` target="_blank") New


    block content
      //- img.mt-2.mb-2(src="/static/geordfbench_image_favicon.png" alt="" width="60" height="60")

    block response
      .form-floating.ms-2.mt-2.ps-1.col-xlg-11.col-lg-12.col-md-12.col-sm-12.col-xs-12
        textarea(type="text" name="responseparagraph" id="responseparagraph" placeholder="Response" aria-label="responseparagraph" style="height: 150px").form-control.form-control-sm.fst-italic.bg-warning-subtle
        label(for="responseparagraph") Response

    block footer
      footer.d-flex.flex-wrap.justify-content-between.align-items-center.py-3.my-4.border-top
        .col-md-4.d-flex.align-items-center
          a(href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1" aria-label="Bootstrap")
            svg.bi(width="30" height="24" aria-hidden="true")
              use(xlink:href="#bootstrap")
          span.mb-3.mb-md-0.text-body-secondary © 2025 Ioannidis Theofilos, Inc
        ul.nav.col-md-4.me-2.justify-content-end.list-unstyled.d-flex
          li.ms-3
            a.text-body-secondary(href="http://www.linkedin.com/in/θεόφιλος-ιωαννίδης-83abb283" aria-label="LinkedIn" target="_blank")
              img.mt-2.mb-2(src=`${locals.endpointConfig.ACCESS_UI_URL}/static/linkedin.png` alt="" width="40" height="40")
          li.ms-3
            a.text-body-secondary(href="https://www.facebook.com/theofilos.ioannidis.39/" aria-label="Facebook" target="_blank")
              img.mt-2.mb-2(src=`${locals.endpointConfig.ACCESS_UI_URL}/static/facebook.svg` alt="" width="40" height="40")

