doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= locals.title || 'Please pass a title property'

    style 
      include ./assets/css/bootstrap.min.css
    script  
      include ./assets/js/bootstrap.min.js
  body
    block menu
      .header.p-3.text-bg-dark
        .container
          .d-flex.flex-wrap.align-items-center.justify-content-center.justify-content-lg-start
            a(href="/").d-flex.align-items-center.mb-2.mb-lg-0.text-white.text-decoration-none
              img.mt-2.mb-2(src="/static/geordfbench_image_favicon.png" alt="" width="40" height="40")
              span.ms-2.fs-4 GeoRDFBench UI
            ul.nav.col-12.col-lg-auto.me-lg-auto.mb-2.justify-content-center.mb-md-0
              li 
                a(href="/" class="nav-link px-2 text-white") Home
              li.dropdown
                a(href="#" class="nav-link px-2 text-white dropdown-toggle" data-bs-toggle="dropdown") Specifications
                ul.dropdown-menu
                  li: a(href="/datasets" class="dropdown-item") Datasets
                  li: a(href="/executionspecs" class="dropdown-item") Execution Specs
                  li: a(href="/hosts" class="dropdown-item") Hosts
                  li: a(href="/querysets" class="dropdown-item") Query Sets
                  li: a(href="/reportsources" class="dropdown-item") Report Sources
                  li: a(href="/reportspecs" class="dropdown-item") Report Specs
                  li: a(href="/workloads" class="dropdown-item") Workloads
              li 
                a(href="/categories" class="nav-link px-2 text-white") Categories
              li 
                a(href=`http://${locals.endpointConfig ? locals.endpointConfig.ENDPOINT_HOST : 'localhost'}:${locals.endpointConfig ? locals.endpointConfig.ENDPOINT_PORT : '5000'}/api-docs/` class="nav-link px-2 text-white") API Docs

            .text-end
              .btn-group(role="group")
                a(href=`http://${locals.endpointConfig ? locals.endpointConfig.ENDPOINT_HOST : 'localhost'}:${locals.endpointConfig ? locals.endpointConfig.ENDPOINT_PORT : '5000'}/` class="btn btn-outline-light btn-sm") Endpoint Server

    block content
      .container-fluid
        //- img.mt-2.mb-2(src="/static/geordfbench_image_favicon.png" alt="" width="60" height="60")

    block foot
      footer.d-flex.flex-wrap.justify-content-between.align-items-center.py-3.my-4.border-top
        .col-md-4.d-flex.align-items-center
          a(href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1" aria-label="Bootstrap")
            svg.bi(width="30" height="24" aria-hidden="true")
              use(xlink:href="#bootstrap")
          span.mb-3.mb-md-0.text-body-secondary © 2025 Ioannidis Theofilos, Inc
        ul.nav.col-md-4.justify-content-end.list-unstyled.d-flex
        li.ms-3
          a.text-body-secondary(href="#" aria-label="Instagram")
            svg(class="bi" width="24" height="24" aria-hidden="true")
              use(xlink:href="#instagram")
        li.ms-3
          a.text-body-secondary(href="#" aria-label="Facebook")
            img.mt-2.mb-2(src="/static/facebook.svg" alt="" width="40" height="40")